In [1]:

from typing import List, TypedDict, Annotated
from langchain_community.document_loaders import PyPDFLoader
from langchain_core.prompts import PromptTemplate
from langchain_core.tools import tool
import streamlit as st
import os
import yaml
from dotenv import load_dotenv
from langchain_groq import ChatGroq
from langchain_core.prompts import PromptTemplate
from typing import Annotated
from typing_extensions import TypedDict
from langgraph.graph import StateGraph, START, END
from langgraph.graph.message import add_messages
from langchain_core.messages import AIMessage
"""
from langchain.vectorstores import FAISS
from langchain_core.graph import Graph, Node, StartNode, StopNode
from langchain.docstore.document import Document
from langchain_community.vectorstores import Chroma
from langchain_community.embeddings import HuggingFaceEmbeddings
from langchain.chains import RetrievalQA
from langchain.prompts import PromptTemplate
from langchain.text_splitter import RecursiveCharacterTextSplitter
"""

# Load environment variables
load_dotenv()
api_key = os.environ["groq"]

# Initialize LLM
llm = ChatGroq(
    model="llama-3.3-70b-versatile",
    temperature=0,
    max_tokens=None,
    timeout=None,
    max_retries=2,
    api_key=api_key
)
llm_ds= ChatGroq(
    model="deepseek-r1-distill-llama-70b",
    temperature=0,
    max_tokens=None,
    reasoning_format="parsed",
    timeout=None,
    max_retries=2,
    api_key=api_key
    # other params...
)

In [2]:
llm.invoke("hi").content

"It's nice to meet you. Is there something I can help you with or would you like to chat?"

In [3]:
llm_ds.invoke("hi").content

'Hello! How can I assist you today? ðŸ˜Š'

In [4]:
import os
os.getcwd()
os.chdir("../")

In [5]:
os.getcwd()

'/workspaces/new_rag'

In [8]:
os.getcwd()

'/workspaces/new_rag'

In [10]:
os.chdir('/workspaces/new_rag/research')

In [7]:
from tools import *

ModuleNotFoundError: No module named 'tools'

In [16]:
llm.bind_tools(tools=[yf]).invoke("What is the stock price of Apple?")

AIMessage(content='', additional_kwargs={'tool_calls': [{'id': '5c4jhgqt1', 'function': {'arguments': '{"ticker":"AAPL"}', 'name': 'yf'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 15, 'prompt_tokens': 228, 'total_tokens': 243, 'completion_time': 0.043266388, 'prompt_time': 0.011915129, 'queue_time': 0.059419001, 'total_time': 0.055181517}, 'model_name': 'llama-3.3-70b-versatile', 'system_fingerprint': 'fp_3f3b593e33', 'service_tier': 'on_demand', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run--8a0e00ae-69e9-4f0a-9e3a-2618b6696511-0', tool_calls=[{'name': 'yf', 'args': {'ticker': 'AAPL'}, 'id': '5c4jhgqt1', 'type': 'tool_call'}], usage_metadata={'input_tokens': 228, 'output_tokens': 15, 'total_tokens': 243})

In [9]:
from langchain.agents import AgentExecutor, create_openai_tools_agent
from langchain_core.tools import tool
import yfinance as yf

# Define the stock tool using yfinance
@tool

def get_stock_price(ticker: str) -> float:
    """  use this tool to get the stock price of a company by its ticker symbol. """
    stock = yf.Ticker(ticker)
    return stock.history(period="1d")['Close'].iloc[-1]
"""
# Create the agent with the stock tool
llm = ...  # Replace with your LLM initialization (e.g., Chatgroq or another model)

agent = create_openai_tools_agent(
    llm,
    tools=[get_stock_price],
    prompt="You are a helpful assistant that can answer questions about stock prices. You can use the tools provided to get the information you need. If you don't know the answer, just say 'I don't know'."
)

# Create the agent executor
agent_executor = AgentExecutor(agent=agent, tools=[get_stock_price])

# Invoke the agent with a specific question
response = agent_executor.invoke({"input": "What is the stock price of Apple?"})
print(response)"""

'\n# Create the agent with the stock tool\nllm = ...  # Replace with your LLM initialization (e.g., Chatgroq or another model)\n\nagent = create_openai_tools_agent(\n    llm,\n    tools=[get_stock_price],\n    prompt="You are a helpful assistant that can answer questions about stock prices. You can use the tools provided to get the information you need. If you don\'t know the answer, just say \'I don\'t know\'."\n)\n\n# Create the agent executor\nagent_executor = AgentExecutor(agent=agent, tools=[get_stock_price])\n\n# Invoke the agent with a specific question\nresponse = agent_executor.invoke({"input": "What is the stock price of Apple?"})\nprint(response)'

In [14]:
get_stock_price.invoke("AAPL")

np.float64(213.75999450683594)

In [18]:
llm.invoke("""give me a python list of all icici index etfs
           
         just me the list and correspronding ticker symbols on yfinace  
          please check the latest data and give me the list 
        output:give a me a python dataframe
           [[name, ticker]]
           
           """).content.split("\n")

["Here's a list of ICICI Index ETFs along with their corresponding ticker symbols on Yahoo Finance:",
 '',
 '```python',
 'import pandas as pd',
 '',
 'icici_index_etfs = [',
 '    ["ICICI Prudential Nifty Index Fund", "ICICINIFTY.IN"],',
 '    ["ICICI Prudential Nifty Next 50 Index Fund", "ICICINEXT50.IN"],',
 '    ["ICICI Prudential Sensex Index Fund", "ICICISENSEX.IN"],',
 '    ["ICICI Prudential Nifty 100 Index Fund", "ICICINIFTY100.IN"],',
 '    ["ICICI Prudential Nifty Midcap 150 Index Fund", "ICICINIFTYMIDCAP150.IN"],',
 '    ["ICICI Prudential Nifty Smallcap 250 Index Fund", "ICICINIFTYSMALLCAP250.IN"],',
 '    ["ICICI Prudential Nifty 50 Index Fund", "ICICINIFTY50.IN"],',
 '    ["ICICI Prudential Nifty Bank Index Fund", "ICICINIFTYBANK.IN"],',
 '    ["ICICI Prudential Nifty IT Index Fund", "ICICINIFTYIT.IN"],',
 '    ["ICICI Prudential Nifty Healthcare Index Fund", "ICICINIFTYHEALTH.IN"],',
 '    ["ICICI Prudential Nifty FMCG Index Fund", "ICICINIFTYFMCG.IN"],',
 '    ["ICICI Prudential Nifty Private Bank Index Fund", "ICICINIFTYPRIVATBANK.IN"],',
 '    ["ICICI Prudential Nifty Alpha Low Volatility 30 Index Fund", "ICICINIFTYALPHALOWVOL30.IN"],',
 ']',
 '',
 'df = pd.DataFrame(icici_index_etfs, columns=["Name", "Ticker"])',
 '',
 'print(df)',
 '```',
 '',
 'Output:',
 '```',
 '                                  Name             Ticker',
 '0        ICICI Prudential Nifty Index Fund    ICICINIFTY.IN',
 '1  ICICI Prudential Nifty Next 50 Index Fund  ICICINEXT50.IN',
 '2      ICICI Prudential Sensex Index Fund   ICICISENSEX.IN',
 '3      ICICI Prudential Nifty 100 Index Fund  ICICINIFTY100.IN',
 '4  ICICI Prudential Nifty Midcap 150 Index Fund  ICICINIFTYMIDCAP150.IN',
 '5  ICICI Prudential Nifty Smallcap 250 Index Fund  ICICINIFTYSMALLCAP250.IN',
 '6       ICICI Prudential Nifty 50 Index Fund    ICICINIFTY50.IN',
 '7      ICICI Prudential Nifty Bank Index Fund   ICICINIFTYBANK.IN',
 '8       ICICI Prudential Nifty IT Index Fund     ICICINIFTYIT.IN',
 '9  ICICI Prudential Nifty Healthcare Index Fund  ICICINIFTYHEALTH.IN',
 '10     ICICI Prudential Nifty FMCG Index Fund    ICICINIFTYFMCG.IN',
 '11  ICICI Prudential Nifty Private Bank Index Fund  ICICINIFTYPRIVATBANK.IN',
 '12  ICICI Prudential Nifty Alpha Low Volatility 30 Index Fund  ICICINIFTYALPHALOWVOL30.IN',
 '```']

In [1]:
from typing import List, TypedDict
class l1(TypedDict):
    name: str
    ticker: str
class l2(TypedDict):
    result: list[l1]

In [39]:
llm1=llm.with_structured_output(l2)
response=llm1.invoke('get me various nifty etf from hdfc with tickers on yfinance')

In [40]:
import pandas as pd
df = pd.DataFrame(response["result"])

In [41]:
for i in df["ticker"]:
    print(i)
    try:
        print(get_stock_price.invoke(i))
        print("\n")
    except Exception as e:  
        print(f"Error fetching data for {i}: {e}")
    # You can also store the results in a list or DataFrame if needed

HDFCNIFTY50.NS

$HDFCNIFTY50.NS: possibly delisted; no price data found  (period=1d) (Yahoo error = "No data found, symbol may be delisted")

Error fetching data for HDFCNIFTY50.NS: single positional indexer is out-of-bounds
HDFCNEXT50.NS
68.16000366210938


HDFCNBANK.NS

$HDFCNBANK.NS: possibly delisted; no price data found  (period=1d) (Yahoo error = "No data found, symbol may be delisted")

Error fetching data for HDFCNBANK.NS: single positional indexer is out-of-bounds
HDFCNIFTYIT.NS

$HDFCNIFTYIT.NS: possibly delisted; no price data found  (period=1d) (Yahoo error = "No data found, symbol may be delisted")

Error fetching data for HDFCNIFTYIT.NS: single positional indexer is out-of-bounds
HDFCNIFTYPHARMA.NS

$HDFCNIFTYPHARMA.NS: possibly delisted; no price data found  (period=1d) (Yahoo error = "No data found, symbol may be delisted")

Error fetching data for HDFCNIFTYPHARMA.NS: single positional indexer is out-of-bounds

In [15]:
response

{'result': [{'name': 'NIFTY BEES', 'ticker': 'NIFTYBEES.NS'},
  {'name': 'JUNIOR BEES', 'ticker': 'JUNIORBEES.NS'},
  {'name': 'LIQUID BEES', 'ticker': 'LIQUIDBEES.NS'},
  {'name': 'GOLD BEES', 'ticker': 'GOLDBEES.NS'},
  {'name': 'NIFTY 50 VALUE 20 INDEX FUND', 'ticker': 'NIFTY50VAL.NS'},
  {'name': "SHANKAR SHARMA'S SMALL CAP FUND", 'ticker': 'SBI SMALL CAP.NS'},
  {'name': 'SBI MAGNUM MULTI CAP FUND', 'ticker': 'SBIMAGNUMMULTI.NS'},
  {'name': 'SBI MAGNUM FOCUSED EQUITY FUND', 'ticker': 'SBIFOCUSED.NS'},
  {'name': 'SBI MAGNUM MID CAP FUND', 'ticker': 'SBIMIDCAP.NS'},
  {'name': 'UTI NIFTY INDEX FUND', 'ticker': 'UTINIFTY.NS'},
  {'name': 'UTI SENSEX INDEX FUND', 'ticker': 'UTISENSEX.NS'},
  {'name': 'FRANKLIN INDIA FLEXI CAP FUND', 'ticker': 'FRANKLININDIAFLEXI.NS'},
  {'name': 'FRANKLIN INDIA LIFE STAGE FUND',
   'ticker': 'FRANKLININDIALIFESTAGE.NS'},
  {'name': 'MIRAE ASSET INDIA EQUITY FUND',
   'ticker': 'MIRAEASSETINDIAEQUITY.NS'},
  {'name': 'MIRAE ASSET INDIA MID CAP FUND',
   'ticker': 'MIRAEASSETINDIAMIDCAP.NS'}]}

In [6]:
import pandas as pd
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)

# Function to query the DataFrame using SQL

# Example SQL queries
query1 = "SELECT * FROM df WHERE Age > 30"
result1 = pysqldf(query1)
print("Query 1 Result:")
print(type(result1))

query2 = "SELECT City, COUNT(*) as Count FROM df GROUP BY City"
result2 = pysqldf(query2)
print("\nQuery 2 Result:")
print(result2)

Query 1 Result:
<class 'pandas.core.frame.DataFrame'>

Query 2 Result:
          City  Count
0      Chicago      1
1      Houston      1
2  Los Angeles      1
3     New York      1

In [7]:
@tool
def query_dataframe(query: str) -> pd.DataFrame:
    """Use this tool to query a pandas DataFrame using SQL syntax."""
    return pysqldf(query)

In [12]:
query_dataframe.invoke("SELECT * FROM df WHERE Age > 30")

      Name  Age     City
0  Charlie   35  Chicago
1    David   40  Houston

In [44]:
import pandas as pd
from pandasql import sqldf
import io


pysqldf = lambda q: sqldf(q, globals())

@tool
def dataframe_and_collection(dataframe:pd.DataFrame, query: str) -> pd.DataFrame:
    """  use this tool to create queries and display results in the form of pandas dataframe"""
    buffer = io.StringIO()
    df.info(buf=buffer)
    s = buffer.getvalue()
    """You are given a dataframe info and a query from user regarding dataframe, your job is to write SQL query that suffices the user's objective 
    note that query so given must run on pandasql 
    use pysql to query the dataframe and return a pandas dataframe
    ### Inputs :
        - dataframe: The name of the dataframe to be queried.
        - query: The user's query regarding the dataframe.
    ### Output:
        - A pandas DataFrame containing the results of the SQL query.
    ### Example Output of the query that must be used for pysqldf function:
    query 1: "give me all the rows where age is less than 30"
    output 1: "SELECT * FROM dataframe WHERE Age < 30"
    ### Instructions:
        1. Use the `pysqldf` function to execute the SQL query
        2. Ensure that the query is valid and can be executed on the given dataframe.
        3. Don't give any explanation or additional information or preamble in query, just return the result of the query as a pandas DataFrame.
    """
    # Ensure that the prompt is correctly formatted
    prompt = PromptTemplate(
        input_variables=[s, query],
        template=f"""You are given a dataframe info {s} and a {query} from user regarding dataframe, your job is to write SQL query that suffices the user's objective 
        note that query so given must run on pandasql and return a pandas dataframe
        """
    )
    #prompt = prompt.format(dataframe=dataframe, query=query)
    
    # Ensure that chain is defined and can invoke the LLM
    chain = prompt | llm  # This line needs to be valid in your context
    response = chain.invoke({"dataframe": dataframe, "query": query}).content
    
    # Execute the SQL query and return the result
    return pysqldf(response)

In [45]:
dataframe_and_collection.invoke({"dataframe": df, "query": "give me all the rows where age is greater than 30"})

PandaSQLException: (sqlite3.OperationalError) near "To": syntax error
[SQL: To achieve the user's objective, you can use the following SQL query in pandasql:

```sql
SELECT * FROM info WHERE Age > 30
```

This query will return all rows from the `info` dataframe where the `Age` is greater than 30.

Here's how you can execute this query using pandasql:

```python
import pandas as pd
from pandasql import sqldf

# assuming 'info' is your dataframe
info = pd.DataFrame({
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [25, 35, 40, 20],
    'City': ['New York', 'Paris', 'Berlin', 'London']
})

# create a sqldf object
pysqldf = sqldf

# execute the query
result_df = pysqldf("SELECT * FROM info WHERE Age > 30")

print(result_df)
```

In this example, the `result_df` will contain all rows from the `info` dataframe where the `Age` is greater than 30. The output will be:

```
    Name  Age     City
1   Anna   35    Paris
2  Peter   40   Berlin
```]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [107]:
@tool
def dataframe_query(dataframe,query):
    """You are given a dataframe info and a query from user regarding dataframe, your job is to write SQL query that suffices the user's objective 
    note that query so given must run on pandasql 
    use pysql to query the dataframe and return a pandas dataframe
    ### Inputs :
        - dataframe: The name of the dataframe to be queried.
        - query: The user's query regarding the dataframe.
    ### Output:
        - SQL query (Assume name of the dataframe to be df)
    ### Instructions:
        1. Don't give any explanation or additional information or preamble in query, just return the  query .
    ### Example Output: 
    query 1: "give me all the rows where age is less than 30"
    output 1: "SELECT * FROM df WHERE Age < 30"

    """
    
    buffer = io.StringIO()
    df.info(buf=buffer)
    s = buffer.getvalue()
    # Ensure that the prompt is correctly formatted
    prompt = PromptTemplate(
        input_variables=[s, query],
        template=f"""You are given a dataframe whose name is df and dataframe_info  {s} and a {query} from user regarding dataframe, your job is to write SQL query that suffices the user's objective 
        note that only query must be returned and nothing else
        """
    )
    #prompt = prompt.format(dataframe=dataframe, query=query)

    # Ensure that chain is defined and can invoke the LLM
    chain = prompt | llm  # This line needs to be valid in your context
    response = chain.invoke({"dataframe_info": s, "query": query}).content
    return pysqldf(response)

In [103]:
"pysqldf("\n".join(response.split("\n")[1:-1])")""

SyntaxError: unexpected character after line continuation character (2099577655.py, line 1)

In [108]:
fx=dataframe_query.invoke({"dataframe":df,"query":"how many people are there "})

In [109]:
fx

   COUNT(Age)
0           4

In [86]:
pysqldf("\n".join(response.split("\n")[1:-1]))

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles

In [57]:
buffer = io.StringIO()
df.info(buf=buffer)
s = buffer.getvalue()

In [121]:
import os
import io
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from langchain.chains import LLMChain
from langchain.prompts import PromptTemplate
from dotenv import load_dotenv

def capture_df_info(df: pd.DataFrame) -> str:
    """
    Capture the output of df.info() into a string.
    """
    buffer = io.StringIO()
    df.info(buf=buffer)
    return buffer.getvalue()

def generate_visualization_code(df_infos: dict, purpose: str) -> str:
    """
    Given a mapping of dataframe names to their info-strings and an analysis purpose,
    returns only the seaborn/matplotlib code needed for the visualization.
    """
    prompt_template = """
You are a data analysis expert. The user has these dataframes (with info shown) 
and wants to achieve a given analysis purpose.

### Instructions:
1) Do NOT tamper with original dataframes; use df.copy() if needed.
2) Always reference df.info() to confirm column names and dtypes.
3) Do NOT hallucinate column names: only use those present.
4) Recommend the single best chart or minimal set of charts.
5) If merging is needed, do it within the sns call.
6) Do all data calculations on separate lines before plotting.
7) Output ONLY the Python code lines (no comments, no narrative ,no preamble).

### DataFrames Info:
{df_infos}

### Purpose of Analysis:
{purpose}


### Example output code:

import pandas
import numpy

df.info()
"""
    template = PromptTemplate(
        input_variables=["df_infos", "purpose"],
        template=prompt_template
    )
    chain = template|llm
    code = chain.invoke({
        "df_infos": df_infos,
        "purpose": purpose
    })
    return code.content.strip()

def main():
    # 1) Load CSV files from a directory or list
    csv_dir = "/workspaces/new_rag/data"  # update this path if needed
    dfs = {}
    df_infos = {}
    for fname in os.listdir(csv_dir):
        if fname.lower().endswith(".csv"):
            path = os.path.join(csv_dir, fname)
            name = os.path.splitext(fname)[0]
            df = pd.read_csv(path)
            dfs[name] = df
            df_infos[name] = capture_df_info(df)

    # 2) Get analysis purpose from user input
    purpose = input("Enter the purpose of analysis: ").strip()
    if not purpose:
        print("No purpose entered. Exiting.")
        return

    # 3) Generate visualization code
    code = generate_visualization_code(df_infos, purpose)
    print("\n===== Generated Visualization Code =====\n")
    print(code)
    print("\n===== Executing Code =====\n")

    # 4) Execute and display plots
    #    This will show plots in a matplotlib window
    global_vars = dfs.copy()
    for line in code.splitlines():
        try:
            # Execute any preprocessing or new column creation
            if not line.lstrip().startswith(("sns.", "plt.")):
                exec(line, global_vars)
            else:
                plt.figure(figsize=(10, 6))
                exec(line, global_vars)
                plt.show()
        except Exception as e:
            print(f"Error executing `{line}`: {e}")

if __name__ == "__main__":
    main()

No artists with labels found to put in legend.  Note that artists whose label start with an underscore are ignored when legend() is called with no argument.

===== Generated Visualization Code =====

```python
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = book1.copy()
print(df.info())

age_mean = df['Age'].mean()
age_std = df['Age'].std()

plt.figure(figsize=(10,6))
sns.countplot(data=df, x='City')
plt.title('City Distribution')
plt.show()

plt.figure(figsize=(10,6))
sns.histplot(data=df, x='Age', kde=True)
plt.title('Age Distribution')
plt.axvline(age_mean, color='r', linestyle='dashed', label='Mean')
plt.legend()
plt.show()
```

===== Executing Code =====

Error executing ````python`: invalid syntax (<string>, line 1)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes
None
Error executing `````: invalid syntax (<string>, line 1)

In [114]:
df.to_csv("/workspaces/new_rag/data/book1.csv",index=False)